FACEBOOK_GROUP_URL=https://www.facebook.com/groups/YOUR_GROUP_ID
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

TRIGGER_SECRET=

BRIGHTDATA_API_TOKEN=
BRIGHTDATA_DATASET_ID=gd_lz11l67o2cb3r0lkj3
BRIGHTDATA_WAIT_SECONDS=45
# Original defaults: last 15 minutes, maximum 10 posts, images required.
LOOKBACK_MINUTES=15
MAX_POSTS=10
STATE_DIR=state
